<div id="editor" class="col-md-6">
    <h4>Content</h4>

    <div class="col-md-12">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" required [(ngModel)]="model.title" name="title">
        </div>
        <div class="form-group checkbox">
            <label><input type="checkbox" [checked]="model.useSubtitles" (change)="useSubtitles()">Use subtitles for smileys </label>
        </div>
    </div>

    <div id="subtitles-list" class="col-md-12">
        <div class="form-group">
            <label for="usr">Smiley 1 title </label>
            <input type="text" class="form-control" id="subtitle1" [(ngModel)]="model.subtitle1">
        </div>
        <div class="form-group">
            <label for="usr">Smiley 2 title </label>
            <input type="text" class="form-control" id="subtitle2" [(ngModel)]="model.subtitle2">
        </div>
        <div class="form-group">
            <label for="usr">Smiley 3 title </label>
            <input type="text" class="form-control" id="subtitle3" [(ngModel)]="model.subtitle3">
        </div>
        <div class="form-group">
            <label for="usr">Smiley 4 title </label>
            <input type="text" class="form-control" id="subtitle4" [(ngModel)]="model.subtitle4">
        </div>

    </div>
</div>


<div id="preview" class="col-md-6 ">

    <h4>Preview</h4>

    <div id="preview-container" class="thumbnail">

        <widget-smiley [model]="model"></widget-smiley>

    </div>
</div>
