<div id="editor" class="col-md-6">
    <h4>Content</h4>
    <div class="thumbnail">
        <div class="form-group">
            <label for="usr">Title</label>
            <input type="text" class="form-control" id="title" required [(ngModel)]="model.title" name="title">
        </div>
        <div class="form-group checkbox">
            <label><input (click)="useSubtitles()" type="checkbox" checked>Use subtitles for smileys </label>
        </div>
    </div>

    <div id="subtitles-list" class="thumbnail">

        <div class="form-group">

            <label for="usr">Smiley 1 title </label>
            <input type="text" class="form-control" id="usr">

            <label for="usr">Smiley 2 title </label>
            <input type="text" class="form-control" id="usr">

            <label for="usr">Smiley 3 title </label>
            <input type="text" class="form-control" id="usr">

            <label for="usr">Smiley 4 title </label>
            <input type="text" class="form-control" id="usr">
        </div>
    </div>
</div>

<div id="preview" class="col-md-6 ">

    <h4>Preview</h4>

    <div id="preview-container" class="thumbnail">

        <widget-smiley [model]="model"></widget-smiley>

    </div>
</div>

<div class="col-md-6">
    <div id="preview-container" class="thumbnail">
        <button (click)="deleteWidget()" class="btn btn-danger">Delete widget</button>
        <button (click)="deleteWidget()" class="btn btn-default">Save changes</button>
    </div>
</div>