<h4>Widget question editor!</h4>


<div>

    <div class="col-md-6 thumbnail">
        <h4>Questions</h4>

        <div class="form-group">

            <label for="usr">Question 1 </label>
            <input type="text" class="form-control" id="usr" [(ngModel)]="model.subtitle1" placeholder="Question 1">

            <label for="usr">Question 2 </label>
            <input type="text" class="form-control" id="usr" [(ngModel)]="model.subtitle2" placeholder="Question 2">

            <label for="usr">Question 3 </label>
            <input type="text" class="form-control" id="usr" [(ngModel)]="model.subtitle3" placeholder="Question 3">

            <label for="usr">Question 4 </label>
            <input type="text" class="form-control" id="usr" [(ngModel)]="model.subtitle4" placeholder="Question 4">

            <label for="usr">Question 5 </label>
            <input type="text" class="form-control" id="usr" [(ngModel)]="model.subtitle4" placeholder="Question 5">

            <label for="usr">Question 6 </label>
            <input type="text" class="form-control" id="usr" [(ngModel)]="model.subtitle4" placeholder="Question 6">
        </div>
    </div>

    <div class="col-md-6 thumbnail">
        <h4>General</h4>
        <input type="text" class="form-control" placeholder="Title">
    </div>

    <div class="col-md-12 thumbnail">
        <h4>Preview</h4>
    </div>

</div>