#preview
{
    pointer-events: none;
}

#preview-container
{
    padding: 20px;
}

.padding-right
{
    padding-right: 10px;

}

.question-row
{
    padding-bottom: 10px;
}

label
{
    font-weight: lighter;
    color: darkgrey;
}