<h4>Widget question editor!</h4>

<div class="col-md-12 thumbnail">

    <h4>Questions</h4>

    <div class="col-md-12">

        <input type="text" class="form-control" [(ngModel)]="model.title" placeholder="Title">

        <table class="col-md-12">
            <tbody>
                <tr *ngFor="let m of model.answerList; let i = index; " width="100%">
                    <td width="60%">
                        <input type="text" class="form-control" id="usr" [(ngModel)]="model.answerList[i].answerText" placeholder="Question {{i + 1}}">
                    </td>
                    <td width="20%">
                        <div class=" cp input-group colorpicker-component">
                            <input id="color" type="text" [(ngModel)]="model.answerList[i].buttonColor" class="form-control" placeholder="#FFFFFF" />
                            <span class="input-group-addon"><i></i></span>
                        </div>
                    </td>
                    <td width="20%">
                        <button class="btn btn-warning" (click)="removeOption(i)">Remove</button>
                    </td>

                    <span *ngIf='i == model.answerList.length - 1 '>{{ngAfterViewInit()}}</span>

                </tr>
            </tbody>
        </table>
    </div>

    <button class="btn btn-primary" (click)="addOption()">Add Option</button>
</div>


<div id="preview" class="col-md-12 ">

    <h4>Preview</h4>

    <div id="preview-container" class="thumbnail">

        <widget-question [model]="model"></widget-question>

    </div>
</div>