
<div>
    <!-- Navigation bar -->
    <!-- Step1 -> Step 2 -> Step 3 -> etc... -->
</div>
<div class="container">
    <p>
        Registration pin is found by regenerating your new unit at <a> statisfaction.tech/Home/AddUnit </a>
    </p>
    <p>
        Or if this an exsistic unit that has somehow disconnected at <a> WIP </a>
    </p>

    <label> Enter registration pin</label>
    <input #RegistrationPin >
    <button id="RegistrationBtn" (click)="sendPin(RegistrationPin.value)" Class="btn btn-primary"> Submit</button>

</div>