@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model Models.AccountViewModels.LoginViewModel
@inject Microsoft.AspNetCore.Identity.SignInManager<Models.ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
}

<div class="container">
    <div class="login-container thumbnail">
        <div class="row">
            <div class="col-md-6">
                <section>
                    <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                        <h4>Sign in...</h4>
                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <input asp-for="Email" class="form-control" placeholder="Email" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <input asp-for="Password" class="form-control" placeholder="Password" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-default" style="width:100%">Sign in</button>
                            </div>
                        </div>
                        <p>
                            <a asp-action="ForgotPassword">Forgot your password?</a>
                        </p>
                    </form>
                </section>
            </div>
            <div class="col-md-6">
                <img class="login-container-img" src="/images/images/image_analytics.png"/>
                <p style="text-align:center">
                    <a href="auth" >No account? Sign up now!</a>
                </p>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
