<div id="content-panel" class="col-md-9">

    <div *ngIf="surveydata.selectedIndex != -1">
        <div *ngIf="surveydata.selectedType === 'Smiley'">
            <widget-smiley-editor [(selectedIndex)]="surveydata.selectedIndex"></widget-smiley-editor>
        </div>
    </div>

    <div *ngIf="surveydata.selectedIndex == null">
        <h3>No widget selected!</h3>
    </div>

</div>

<div id="right-panel" class="col-md-3">

    <div id="right-panel-content">
        <h4>Widgets</h4>

        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Add widget</button>

            <ul class="dropdown-menu">
                <li>
                    <a *ngFor="let widget of widgetTypes" (click)="addWidget(widget)">{{widget.type}}</a>
                </li>
            </ul>
        </div>

        <hr>

        <div id="sortable-section">

            <ul id="sortable">
                <li *ngFor="let widget of surveydata.widgets; let i = index;" (click)="selectWidget(widget, i)" [class.selected]="widget.localID === this.surveydata.selectedID"
                    class="widgets-list-item thumbnail">
                        <div class="post-thumb">
                            <img class="icon-img" src="/images/icons/icon_w_smiley.svg">
                        </div>

                        <div class="post-content">
                            <h5>{{widget.type}}</h5>
                        </div>
                        <div class="post-settings">
                            <input (click)="removeWidget(widget)" id="button-settings" type="image" src="/images/icons/icon_delete.svg"/>
                        </div>
                </li>
            </ul>

        </div>
    </div>
</div>

