<div id="content-panel" class="col-md-9">

    <div *ngIf="surveydata.selectedWidget != null">
        <div *ngIf="surveydata.selectedWidget.type === 'Smiley'">
            <widget-smiley-editor [modelInfo]="surveydata.selectedWidget"></widget-smiley-editor>
        </div>
    </div>

    <div *ngIf="surveydata.selectedWidget == null">
        <h3>No widget selected!</h3>
    </div>

</div>

<div id="right-panel" class="col-md-3">

    <div id="right-panel-content">
        <h4>Widgets</h4>

        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Add widget</button>

            <ul class="dropdown-menu">
                <li>
                    <a *ngFor="let widget of widgetTypes" (click)="addWidget(widget)">{{widget.type}}</a>
                </li>
            </ul>
        </div>

        <hr>

        <div id="sortable-section">

            <ul id="sortable">
                <li *ngFor="let widget of surveydata.widgets" (click)="selectWidget(widget)" class="widgets-list-item thumbnail">
                    {{widget.type}}
                </li>
            </ul>

        </div>
    </div>
</div>