<div id="top-section">

    <div id="sortable-section" class="col-md-12">


        <div class="dropdown col-md-2 thumbnail">
            <div class="dropbtn">
                <img class="icon-img" src="/images/icons/icon_add.png"> Add widget
            </div>

            <div class="dropdown-content thumbnail">
                <div *ngFor="let widget of widgetTypes" (click)="addWidget(widget)">
                    <a><img class="icon-img" src= {{widget.icon}}> {{widget.type}}</a>
                </div>
            </div>
        </div>

        <div id="sortable" class="col-md-10">
            <div (click)="selectWidget(widget)" class="widgets-list-item col-md-1 thumbnail " *ngFor="let widget of surveydata.widgets">
                <div>
                    <img class="icon-img" src= {{widget.icon}}> {{widget.type}}
                </div>
            </div>
        </div>

    </div>

<br>
<hr>

</div>

<div id="widget-customizer">
    <!-- Somehow load the configuration for each widget -->
    <!-- Maybe in a predefined html-file? -->
    <div class="page-header">

    </div>

    <div *ngIf="selectedWidget != null">
        <div *ngIf="selectedWidget.type === 'Smiley'">
            <widget-smiley-editor [model]="selectedWidget"></widget-smiley-editor>
        </div>
    </div>
</div>