

#sortable
{
    display: inline-block;
    vertical-align: top;
    width: 100%;

    list-style-type: none;
    padding: 0px;
}

.widgets-list-item 
{
    margin: 5px;
    padding: 10px ;
    width: 100%;
    text-align: center;
    height: 55px;
}

.widgets-list-item:hover
{
    background-color: #F5F5F5 ;
}

.icon-img
{
    width: 36px;
    height: 36px;
    color: red ;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
}

.selected
{
    background-color: #D4E0F6 ;
}

.selected h5
{
    font-weight: bold;
    color: #417CE7 ;
}

.post-thumb {
    float: left;
    width: 10%;
}

.post-content 
{
    float: left;
    width: 80%;
    text-align: left;
    padding-left: 20px;
}

.post-settings
{
    margin-top: 5px;
    float: left;
    width: 10%;
}