
<h1> Add a unit</h1>
<p> To register a new unit, create a name for it. This name will identify this unit when you look at it's statistics.</p>
<p> Example: "Exit clothing department"</p>
<br>
<form method="post">
      Unit name: <input type="text" name="UnitName">
        <input type="submit" value="Submit">
</form>