@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .body-content {
        padding-top: 50px;
    }
}

#StyleContainer{
    padding-left:15px;
}
#topbar-info  {
    padding-left: 80px;
    padding-bottom: 20px
}
.main-body{
    padding-left:80px;
    padding-top: 50px;
    padding-right: 80px;
}

.main-body > .row {
    padding-bottom: 1em;
}

.row-image {
    padding-top:20px;
    height: 60px;
    float: left;
}

img{
    height: 110px;
}

#topbar-info{
        width: 100%;
    box-shadow: 0px 2px 2px -2px #888888;
    padding-bottom: 5px;
    padding-top:5px;
}