<div id="StyleContainer">
    <div class="row" id="topbar-info">

        <div class="col-md-2 row-image">
            <img class="icon-img"  src="/images/icons/icon_survey_settings.png">
        </div>
        <div class="col-md-8">

            <h1>Getting Started</h1>
            <h4>A quick look at the basics</h4>
            <p>
                We want you to get quickly started with Statisfaction, so we have made this tutorial to get your first survey up and running in your store.
            </p>
        </div>
    </div>


    <div class="row main-body">
        <div class="row">
            <p>This is the administration site. Here you can manage your store units, create surveys and view the statistics.
                You can navigate the different parts of the administration site from the menu on the left.</p>
        </div>

        <div class="row">
                <p>First, lets create a survey. Click on the Survey button on the menu bar.
                You will then be brought to the survey overview page.
                Surveys that are currently deployed to a store unit are listed under the "Production" section and all your surveys are listed under the "Draft" section.
                To create a new survey, click the "New Survey" button in the upper right corner.
                You can now choose whether to create a survey from a template or from scratch.
                Choose "New Survey" in the drop down menu to start from scratch.
                You are now in the survey editor. The editor consists of three steps: general, widgets and deploy.
                Click on "Step 1 - General" on the navigation menu to the right of the main navigation menu.
                In this step you have to give a name and description for the survey and optionally choose some styling elements.
                Next, click on "Step 2 - Widgets". This step lets you create the questions for the survey.
                Widgets are screens on your survey that lets you collect feedback from the user.</p>
        </div>

        <div class="row">
            <div class="alert alert-info">
                You can think of widgets as questions, but the reason they are not called that is because they can be more than that.
                They can be a collection of questions or a list of icons the person has to touch.
            </div>
        </div>

        <div class="row">
            <p>Let us add some widgets to our survey. Click the "Add Widget" button and then click "Smiley".
            Click on the new "Smiley" panel that appeared to edit the widget.
            Change the "Title" field to a question like "How did you like the service?".
            You can add more widgets if you like, but lets go to the next step "Step 3 - Deploy".
            Specify a thank you message like "Thank you for taking your time. Have a good day!".
            The purpose of this message is to indicate to the person that the survey is completed.
            Specify a delay for the thank you screen and a timeout delay in case the user leaves in the middle of the survey.
            Finally, click the "Save Survey" button to save the survey.</p>
        </div>

        <div class="row">
            <p>Now that we have created a survey, we need to register the store unit.
            Click the "Bind Survey" button in the navigation menu to get to the overview of your units.
            Enter a name for the store and the placement of the unit in the respective fields and click "Submit" to register your store unit.
            You will now get a pin code that you can use to bind to your store unit.
            </p>
        </div>

        <div class="row">
            <p>To be able to display your newly created survey to your customers, you need a tablet running our app or a computer with a browser.
                The app can be downloaded from <a href="https://play.google.com/store/apps/details?id=com.kjellhaaland.statisfaction">Google Play</a>.
                If you are running this through a browser you can access the store unit page <a href="https://statisfaction.tech/store-unit">Here</a>.
                Given you have an internet connection on your device, you will be met by a screen that asks for a pin code.
                Enter the pin code from when you registered your store unit and the survey is now ready to use.</p>
        </div>

        <div class="row">
            <div class="alert alert-success">
                Congratulations, your first survey is now up and running and you can start collecting feedback from your customers.
            </div>
        </div>

        <div class="row">
            <p>After testing the survey by clicking randomly on the options, or better yet, after testing it on actual customers, you can view the statistics.
            Click on the "Statistics" button in the navigation menu. Select the date range you want to analyse and the time range.
            The time range is useful if your store is only open certain hours.
            Choose the store unit you registered in the dropdown list and click "Fetch" to view the statistics for the period.
            You are now presented with a line chart and a pie chart for each widget in your survey.
            The line chart displays how many persons answered which option between each hour.
            The pie chart displays the total amount of answers per option in the selected period.
            The different options are marked with different colors and options can be hidden by clicking on their respective legends.
            </p>
        </div>

    </div>

</div>