<div id="StyleContainer">
<h1>
    Statistics</h1>
<p>Look at and analyse customer feedbaack.</p>

<div class="row">
    <div class="col-md-1">
        <p>Date: </p>
    </div>
    <div class="col-md-3">
        <div class="input-group">
            <material-datepicker  [(date)]="dateToday"></material-datepicker>
        </div>
    </div>
    <div class="col-md-1">
        <p>Unit: </p>
    </div>
    <div class="col-md-3">
        <select name="unit"  id="selectbasic" name="selectbasic" class="form-control">
                    <option *ngFor="let unit of unitData" [value]="unitData.id">{{unit.unitName}}</option>
                </select>
    </div>
        <div class="col-md-1">
            <button  class="btn btn-primary" (click)="fetch()"> Fetch </button>
        </div>
</div>
<hr>

<template chart-host></template>
</div>
