<div id="StyleContainer">

    <div id="top-bar">
        <div class="row">
            <div class="col-md-2 row-image">
                <!--TODO: CHANGE -->
                <img class="icon-img" src="/images/icons/icon_production.png">
            </div>
            <div class="col-md-3 row-image">
            <h1>
                Statistics</h1>
            <p>Look at and analyse customer feedback.</p>
            </div>
            <div class="col-md-1">
                <label class="topbarLabel" >Date: </label>
            </div>
            <div class ="col-md-2">
            </div>
            <div class ="col-md-1">
                <label class="topbarLabel">Unit: </label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
            </div>
            <div class="col-md-3">
                <div class="input-group">
                    
                    <material-datepicker [(date)]="dateToday"></material-datepicker>
                </div>
            </div>
            <div class="col-md-3">
                
                <select name="unit" id="selectbasic" name="selectbasic" class="form-control">
                    <option *ngFor="let unit of unitData" [value]="unitData.id">{{unit.unitName}}</option>
                </select>
            </div>
            <div class="col-md-1">
                <button class="btn btn-primary" (click)="fetch()"> Fetch </button>
            </div>
        </div>
    </div>

    <div class="main-body">
    <template chart-host></template>
    </div>
</div>