<!-- Top panel showing stages of creating a new survey -->

<div id="top-nav">
    <ul class="nav nav-tabs">
        <li [routerLinkActive]="['active']">
            <a [routerLink]="['general']">Step 1 - General</a>
        </li>
        <li [routerLinkActive]="['active']">
            <a [routerLink]="['customize']">Step 2 - Widgets</a>
        </li>
        <li [routerLinkActive]="['active']">
            <a [routerLink]="['finalize']">Step 3 - Finalize</a>
        </li>
    </ul>
</div>

<router-outlet>

</router-outlet>