<!-- Top panel showing stages of creating a new survey -->
<div id="editor-container" class="col-md-12">
    <div id="sidebar" class="col-md-2">

        <div id="sidebar-top">

            <h4>Navigation</h4>
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" [routerLinkActive]="['active']">
                    <a [routerLink]="['general']">Step 1 - General</a>
                </li>
                <li role="presentation" [routerLinkActive]="['active']">
                    <a [routerLink]="['customize']">Step 2 - Widgets</a>
                </li>
                <li role="presentation" [routerLinkActive]="['active']">
                    <a [routerLink]="['finalize']">Step 3 - Deploy</a>
                </li>
            </ul>
        </div>

        <div id="sidebar-buttom">
            <div *ngIf="sharedData.state == 0">
                <general-sidebar></general-sidebar>
            </div>
            <div *ngIf="sharedData.state == 1">
                <customize-sidebar></customize-sidebar>
            </div>
            <div *ngIf="sharedData.state == 2">
                <finalize-sidebar></finalize-sidebar>
            </div>
        </div>
    </div>

    <div id="main-content" class="col-md-10">
        <editor-topbar [general]="sharedData.general" ></editor-topbar>
        <router-outlet></router-outlet>
    </div>
</div>