.filters
{
    display: inline-block ;
}


#filters-container ul
{
    vertical-align: middle;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#filters-container ul li 
{ 
    align-content: center;
    text-align: center;
    display: inline-block; 
    margin-left: 0px;
    margin-right: 0px;
    color:#1a1a1a;
    font-size: small;
    font-weight: bold;
}


#filter-panel
{
    margin-top: 10px;
    margin-bottom: 10px;
}

#content-panel
{
    margin-top: 20px;
}

#create-panel a
{
    float: right;
}