<div id="top-panel" class="col-md-12">
    <h2>Surveys</h2>
</div>

<div id="filter-panel" class="col-md-12">


    <div class="col-md-3">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
        </span>
        </div>
    </div>

    <div id="filters-container" class="col-md-3">
        <ul>
            <li>
                QUICK FILTERS:
            </li>
            <li>
                <a class="btn btn-default">Recent Updated</a>
            </li>
            <li>
                <a class="btn btn-default"> Sorted By Name</a>
            </li>
        </ul>
    </div>



    <div class="col-md-3"></div>

    <div id="create-panel" class="col-md-3">
        <a class="btn btn-primary" [routerLink]="['/editor']">New Survey</a>
    </div>
</div>

<hr class="col-md-12">

<div id="content-panel" class="col-md-9">

    <h4>Published Surveys</h4>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Created</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let survey of surveyService.surveys; let i = index;" (click)="onSurveyClicked(survey, i)">
                <td>{{survey.title}}</td>
                <td>{{survey.description}}</td>
                <td>{{survey.created.toDateString()}}</td>
            </tr>
        </tbody>
    </table>

    <hr class="col-md-12">

    <h4>Drafts</h4>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Created</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let survey of surveyService.surveys; let i = index;" (click)="onSurveyClicked(survey, i)">
                <td>{{survey.title}}</td>
                <td>{{survey.description}}</td>
                <td>{{survey.created.toDateString()}}</td>
            </tr>
        </tbody>
    </table>


</div>

<div class="col-md-3" id="sidebar">
    <div *ngIf="surveyService.survey != null" id="sidebar">
        <survey-summary></survey-summary>
    </div>
    <div *ngIf="surveyService.survey == null">
        <h3>This is the descripton area!</h3>
    </div>
</div>