<div id="top-panel">

    <div class="col-md-10">
        <h2>Surveys</h2>
    </div>

    <div class="col-md-2">
        <a class="btn btn-primary" [routerLink]="['/editor']">Create</a>
    </div>
</div>

<div class="col-md-12">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div>
    <!-- /input-group -->


    <table class="table table-hover">
        <tbody>
            <tr *ngFor="let survey of surveys">
                <td>{{survey.title}}</td>
                <td>{{survey.description}}</td>
                <td>{{survey.created.toDateString()}}</td>
                <td>
                    <a>Edit</a>
                </td>
                <td>
                    <a>Statistics</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>