<div id="filter-panel" class="col-md-12">

    <div class="col-md-3">
        <form id="survey-filter">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for..." [ngModelOptions]="{standalone:true}" [(ngModel)]="keyword">
                <span class="input-group-btn">
        <button class="btn btn-default" type="button">Search</button>
        </span>
            </div>
        </form>
    </div>

    <div id="filters-container" class="col-md-5">
        <ul>
            <li>
                QUICK FILTERS:
            </li>
            <li>
                <a class="btn btn-default" (click)="onSortByUpdated()">Recent Updated</a>
            </li>
            <li>
                <a class="btn btn-default" (click)="onSortByName()"> Sort By Name</a>
            </li>
        </ul>
    </div>

    <!-- Divider -->
    <div class="col-md-1"></div>

    <div id="create-panel" class="col-md-3">

        <!-- Single button -->
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">New Survey</button>
            <ul class="dropdown-menu">
                <li (click)="createNewSurvey()"><a>New Survey</a></li>
                <li role="separator" class="divider"></li>
                <li *ngFor="let model of surveyService.templates" (click)="createNewSurveyFromTemplate(model)"><a>{{model.general.title}}</a></li>
            </ul>
        </div>
    </div>
</div>



<div id="content-panel" class="col-md-9">

    <div class="row-image">
        <img class="icon-img" src="/images/icons/icon_production.png">
    </div>
    <div class="row-content">
        <h4>Production</h4>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Updated</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let survey of surveyService.surveys | surveyfilter:keyword | production; let i = index;" (click)="onSurveyClicked(survey, i)">
                <td width="20%">{{survey.general.title}}</td>
                <td width="60%">{{survey.general.description}}</td>
                <td width="20%">{{survey.general.updated | date}}</td>
            </tr>
        </tbody>
    </table>

    <div class="row-image">
        <img class="icon-img" src="/images/icons/icon_planning.png">
    </div>
    <div class="row-content">
        <h4>Drafts</h4>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Updated</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let survey of surveyService.surveys | surveyfilter:keyword | draft ; let i = index;" (click)="onSurveyClicked(survey, i)">
                <td width="20%">{{survey.general.title}}</td>
                <td width="60%">{{survey.general.description}}</td>
                <td width="20%">{{survey.general.updated | date}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="col-md-3 sidebar">
    <div *ngIf="surveyService.survey != null" class="sidebar">
        <survey-summary></survey-summary>
    </div>
    <div *ngIf="surveyService.survey == null" class="sidebar">
        <overview-help></overview-help>
    </div>
</div>