<div id="summary-container" *ngIf="surveyService.survey != null">

    <div class="col-md-12">
        <div class="col-md-10">
            <h4>Survey Summary</h4>
        </div>

        <div class="col-md-2">
            <a class="btn btn-default">Edit</a>
        </div>
    </div>

    <p class="editable">{{surveyService.survey.title}}</p>

    <div class="divider">
        <span>Details</span>
    </div>

    <p class="editable">{{surveyService.survey.description}}</p>

    <table class="table borderless">
        <tbody>
            <tr>
                <td>Status</td>
                <td>Draft</td>
            </tr>
        </tbody>
    </table>

    <div class="divider">
        <span>Dates</span>
    </div>

    <table class="table borderless">
        <tbody>
            <tr>
                <td>Created</td>
                <td>{{surveyService.survey.created.toDateString()}}</td>
            </tr>
            <tr>
                <td>Updated</td>
                <td>{{surveyService.survey.updated.toDateString()}}</td>
            </tr>
        </tbody>
    </table>

    <div class="divider">
        <span>Styling</span>
    </div>

    <p>Color</p>
    <p>Survey Image</p>

    <div class="divider">
        <span>Functions</span>
    </div>

    <ul class="list-unstyled">
        <li>
            <a class="btn btn-default">Go to statistics</a>
        </li>
        <li>
            <a class="btn btn-default">Duplicate</a>
        </li>
    </ul>

    <div class="divider">
        <span>Dangerous Functions</span>
    </div>
    <ul class="list-unstyled">
        <li>
            <a class="btn btn-danger">Delete survey</a>
        </li>
    </ul>

</div>


<!-- https://www.iconfinder.com/icons/2139350/blueprint_design_draft_plan_tool_icon#size=128 -->