<div id="summary-container">

    <h3>Summary</h3>

    <p class="editable">Title</p>
    <p class="editable"> Description</p>
    <table class="table borderless">
        <tbody>
            <tr>
                <td>Status</td>
                <td>Draft</td>
            </tr>
        </tbody>
    </table>

    <hr>

    <table class="table borderless">
        <tbody>
            <tr>
                <td>Created</td>
                <td>00.00.00</td>
            </tr>
            <tr>
                <td>Updated</td>
                <td>00.00.00</td>
            </tr>
        </tbody>
    </table>

    <hr>
    <p>Color</p>
    <p>Survey Image</p>

    <hr>

    <ul class="list-unstyled">
        <li>
            <a class="btn btn-default">Go to statistics</a>
        </li>
        <li>
            <a class="btn btn-default">Edit</a>
        </li>
        <li>
            <a class="btn btn-danger">Delete</a>
        </li>
    </ul>

</div>