<div id="summary-container">
    <span id="exit" class='glyphicon glyphicon-remove' (click)="onCloseDetail()"></span>
    <h4>Survey Summary</h4>



    <input class="editable editable-style" type="text" [(ngModel)]="surveyService.survey.general.title">

    <div class="divider">
        <span>Details</span>
    </div>

    <input class="editable editable-style" type="text" [(ngModel)]="surveyService.survey.general.description">

    <table class="table borderless">
        <tbody>
            <tr>
                <td>State</td>
                <div *ngIf="surveyService.survey.general.inProduction == false">
                    <td><span class="label label-info">Draft</span></td>
                </div>
                <div *ngIf="surveyService.survey.general.inProduction == true">
                    <td><span class="label label-success">In production</span></td>
                </div>
            </tr>
        </tbody>
    </table>

    <div class="divider">
        <span>Dates</span>
    </div>

    <table class="table borderless">
        <tbody>
            <tr>
                <td>Created:</td>
                <td>{{surveyService.survey.general.created | date:'medium'}}</td>
            </tr>
            <tr>
                <td>Updated:</td>
                <td>{{surveyService.survey.general.updated | date:'medium'}}</td>
            </tr>
        </tbody>
    </table>

    <div class="divider">
        <span>Functions</span>
    </div>


    <button class="btn btn-default" (click)="onClickDuplicate()">Duplicate</button>

    <button [disabled]="surveyService.survey.general.inProduction" class="btn btn-default" (click)="onClickEdit()">Edit</button>


    <div class="divider">
        <span>Dangerous Functions</span>
    </div>
    <ul class="list-unstyled">
        <li>
            <a class="btn btn-danger" (click)="onClickDelete()">Delete survey</a>
        </li>
    </ul>

</div>