



<img id="logo" src="{{surveyPart.LogoURL}}"  alt="Logo" width="500">

<div id="widget-container">






<div id="widget-container" [ngStyle]="{ 'background-color': surveyPart.BackgroundColor }">

    <h1 id="title">{{title}}</h1>



    <div class="row">
        <div class="col-md-3">
            <a id="smiley1" (click)="send('1')" class="thumbnail"  [ngStyle]="{ 'background-color': surveyPart.BackgroundColor }">
                <img src="/images/smiley_1.png" />
            </a>
        </div>
        <div class="col-md-3">
            <a (click)="send('2')" class="thumbnail" [ngStyle]="{ 'background-color': surveyPart.BackgroundColor }">
                <img src="/images/smiley_2.png" />
            </a>
        </div>
        <div class="col-md-3">
            <a (click)="send('3')" class="thumbnail" [ngStyle]="{ 'background-color': surveyPart.BackgroundColor }">
                <img src="/images/smiley_3.png" />
            </a>
        </div>
        <div class="col-md-3" >
            <a id="smiley4" (click)="send('4')"class="thumbnail" [ngStyle]="{ 'background-color': surveyPart.BackgroundColor }">
                <img src="/images/smiley_4.png" />
            </a>
        </div>
    </div>
</div>
</div>
