
#title
{
    text-align: center;
    margin: 50px ;
}
#widget-container{
    padding-left:25px;
    padding-right:25px;
}
#logo{
    padding-bottom: 40px;
}
a,
 img{
    border: none;
    padding: 0;
    background: none;
}
