





<div id="widget-container">





    <h1 id="title">{{title}}</h1>


    <div class="row">
        <div class="col-md-3">
            <a (click)="send('1')" class="thumbnail">
                <img src="/images/smiley_1.png" />
            </a>
        </div>
        <div class="col-md-3">
            <a (click)="send('2')" class="thumbnail">
                <img src="/images/smiley_2.png" />
            </a>
        </div>
        <div class="col-md-3">
            <a (click)="send('3')" class="thumbnail">
                <img src="/images/smiley_3.png" />
            </a>
        </div>
        <div class="col-md-3" >
            <a (click)="send('4')"class="thumbnail">
                <img src="/images/smiley_4.png" />
            </a>
        </div>
    </div>
</div>
