
#title
{
    text-align: center;
    margin: 50px ;
    font-family:verdana, sans-serif;
}
#widget-container{
    padding-left:25px;
    padding-right:25px;
}
#logo{
    padding-bottom: 40px;
}
a,
 img{
    border: none;
    padding: 0;
    background: none;
}
.simleySubtext{
    font-weight:normal;color:#000000;letter-spacing:1pt;word-spacing:3pt;font-size:23px;text-align:center;font-family:verdana, sans-serif;line-height:1;
}