<div id="topbar-container" class="col-md-12">

    <div class="col-md-8">
        <div class="post-icon">
            <img class="icon-img" src="/images/icons/icon_editor.png">
        </div>

        <div class="post-content">

            <div *ngIf="general.title == ''">
                <h5>Untitled survey</h5>
            </div>
            <h5>{{general.title}}</h5>

            <h4>Survey Editor</h4>

        </div>
    </div>
    <div class="col-md-4">
        <button class="btn btn-primary" [disabled]="!sharedData.form.valid" (click)="sharedData.deploy()">Save Survey</button>

        <div *ngIf="!sharedData.form.valid">
            <p>There are errors in the form!</p>
        </div>
    </div>
</div>