

<!-- <img id="logo" src="{{surveyPart.LogoURL}}"  alt="Logo" width="500"> -->
  
<div id="widget-container">

 
   <!-- <div id="background" background-color [ngStyle]="{ 'background-color': surveyPart.BackgroundColor }"> -->
       
    <h1 id="title">{{model.title}}</h1>

    <div class="row">
      <button *ngFor="let answer of model.answerList" (click)="send( answer.responseID)" class ="Btn btn-lg btn-block" [ngStyle]="{ 'background-color': answer.buttonColor }">
         {{ answer.answerText }}
         <!-- man kan bare ignorere disse feltene og det går fint-->
         <img src="{{answer.contentIMG}}"  height="{{answer.imgSize}}" onerror="this.style.display='none'">
         
      </button>
      <br>

    </div>
</div>

