

<img src="{{surveyPart.LogoURL}}"  alt="Logo" width="500">
  
<div id="widget-container">

 
   <div background-color [ngStyle]="{ 'background-color': surveyPart.BackgroundColor }">
       <br>
    <h1 id="title">{{surveyPart.Title}}</h1>

    <div class="row">
        <div class="col-md-{{colsize}}" *ngFor="let question of surveyPart.Questions">
        <h1 id="titleQuestion">{{question.QuestionTitle}} </h1>
      <button [disabled]="isAnswered(question.QuestionID)" *ngFor="let answer of question.AnswerList" (click)="send( answer.responseID, question.QuestionID)" class ="Btn btn-lg btn-block" [ngStyle]="{ 'background-color': answer.ButtonColor }">
         {{ answer.Content }}
         <img src="{{answer.ContentIMG}}"  height="{{answer.IMGSize}}" onerror="this.style.display='none'">
         
      </button>
      <br>
    </div>
    </div>
</div>

