@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .body-content {
        padding-top: 50px;
    }
}

#StyleContainer{
    padding-left: 80px;
    padding-right: 80px;
}
select{
    max-width: 400px;
}
#registrationPin{
    font-weight: bold;
    color: #417CE7 ;
}