<div id="StyleContainer">

    <div class="col-md-12" id="topbar-container">
        <div class="post-icon">
            <img class="icon-img" src="/images/icons/icon_survey_settings.png">
        </div>
        <div class="post-content">
            <h3>Survey binding</h3>
            <p> Manage your store units </p>
        </div>
    </div>


    <div class="row main-body">

        <div class="row col-md-12">
            <h4>Register new store unit</h4>
        </div>

        <div class="row">
            <div class="col-md-3">
                <label> Name</label>
            </div>
            <div class="col-md-3">
                <label> Placement </label>
            </div>
            <div class="col-md-6">
            </div>
        </div>
        <div class="row">
            <form #regUnitForm="ngForm">
                <div class="col-md-3">
                    <span class="text-danger"></span>
                    <input class="form-control" required type="text" [(ngModel)]="unitModel.UnitName" name="UnitName" placeholder="Example: Clothing">
                </div>
                <div class="col-md-3">
                    <span class="text-danger"></span>
                    <input class="form-control" required type="text" [(ngModel)]="unitModel.Placement" name="Placement" placeholder="Example: Exit clothing department">
                </div>
                <div class="col-md-3">
                    <button [disabled]="!regUnitForm.form.valid" type="submit" (click)=" register();" class="btn btn-primary">Submit</button>
                </div>
                <div class="col-md-3">
                </div>
            </form>
        </div>

        <hr class="col-md-10">

        <div class="row">
            <div class="col-md-8">
                <h4 class="add-animation" *ngIf="hasUnits">Your registred store units:</h4>

                <div *ngFor="let resp of responses; let i = index" class="add-animation">

                    <ul class="list-group">
                        <h3> {{resp.unitName}} </h3>

                        <div class="row list-group-item">
                            <div class="col-md-4">
                                <p>Registration pin: </p>
                            </div>
                            <div class="col-md-4">
                                <span id="registrationPin"> {{resp.registationPin}} </span>
                            </div>
                        </div>

                        <div class="row list-group-item">
                            <div class="col-md-4">
                                <p> Placement:</p>
                            </div>
                            <div class="col-md-4">
                                <p> {{resp.placement}} </p>
                            </div>
                        </div>

                        <div class="row list-group-item">
                            <div class="col-md-4">
                                <p> Bound to a store unit: {{resp.confirmed}}</p>
                            </div>
                            <div class="col-md-4">
                                <button style="vertical-align: middle" id="unbindBtn" type="button" class="btn btn-warning" (click)="unbind(resp.id,i)"><span class="glyphicon glyphicon-remove"></span> Unbind </button>
                            </div>
                        </div>

                        <div class="row list-group-item">
                            <div class="col-md-4">
                                <p> Current survey: </p>
                            </div>
                            <div class="col-md-4">
                                <p> {{resp.surveyName}} </p>
                            </div>
                        </div>


                        <div class="row list-group-item">
                            <div class="col-md-4">
                                <p for="surveys">Avilable surveys:</p>
                            </div>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <select class="form-control" id="surveys{{resp.id}}" required>
                                    <option selected disabled [value] ="-1"> Please select one of your surveys</option>
                                    <option *ngFor="let sur of availableSurveys" [selected]="sur.surveyName == resp.surveyName" [value]="sur.surveyID">{{sur.surveyName}}</option>
                                </select>
                                    <span class="input-group-addon" (click)="apply(resp.id)">Apply</span></div>
                            </div>
                        </div>

                        <div class="row list-group-item">
                            <div class="col-md-4">
                                <p> Delete unit </p>
                            </div>
                            <div class="col-md-4">
                                <button id="deleteBtn" (click)="delete(resp.id,i)" type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span>  Delete </button>
                            </div>
                        </div>
                    </ul>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>