

.navbar-container
{
    height: 100%;
    box-shadow: 2px 0px 2px -2px #888888;
}


.navbar-container li
{
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
}

.navbar-container ul
{
    padding: 0px;
    list-style: none;
    margin: 0px;
}

.navbar-container li:hover
{
    background-color: #e6e6e6;
}

.navbar-container li a
{
    font-family: 'Roboto', sans-serif;
    font-weight: 550;
    text-decoration: none;
    color: #808080;
}

.navbar-container li span
{
    margin-right: 15px;
}

.navbar-title
{
    text-transform: uppercase;
    padding-left: 20px;
    font-size: small;
    color:  #a6a6a6;
}

.navbar-head
{
    width: 100%;
    box-shadow: 0px 2px 2px -2px #888888;
    font-size: small;
    color:  #a6a6a6;
    padding-bottom: 5px;
    padding-top:5px;
}

.navbar-section
{
    padding-top: 20px;
}


.link-active a
{
    font-weight: bold;
    border:none;
    color: #039BE5 !important;
}

.element-active a
{
    border:none;
    color: #039BE5 !important;
}

