
<div class="col-md-9">
    <h3>General information</h3>

    <div class="form-group">
        <label for="usr">Survey title</label>
        <input type="text" class="form-control" id="usr">
    </div>

    <div class="form-group">
        <label for="usr">Description</label>
        <textarea class="form-control" rows="5" id="comment"></textarea>
    </div>

    <div id="button-panel">
        <a class="button btn-primary" role="button">Next step</a>
    </div>
</div>

<div class="col-md-3">
    <!--Display some helpfull information-->
    <h3>Helpfull information {{name}}</h3>
</div>